/* .main-container .row div div{
    background-color:white;
    padding:10px;
} */

.internal-div{
    background-color:white;
    padding:10px;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.store-info{
    font-weight:bold;
    font-size:2vw;
    height:130px;
    margin-bottom:5px;
}

.table-container, .table-proper{
    width:100%;
}

.theader{
    font-weight:bold;
}

.table-proper{
    border-spacing:5px;
}

.table-proper tr td{
    padding:5px;
}

.table-total, .table-status, .table-price, .table-total-value{
    text-align:right;
}

.table-barcode, .table-quantity{
    text-align: center;
}

.info-label, .info-value{
    position:absolute;
}

.info-label{
    top:3px;
    left:10px;
    font-size:15px;
    color:rgb(131, 131, 131);
}

.info-value{
    top:23px;
    left:10px;
    font-size:18px;
    width:100%;
    overflow:auto;
    white-space: nowrap;
    color:black;
}