/* Base Styles */

html {
    font-size: 15px;
    /* Base font size for the document */
}

body {
    background-color: #e9f2f9;
    position: relative;
    font-family: Arial, sans-serif;
    /* Example font-family */
    color: #333;
    /* Default text color */
}

.hidden {
    display: none !important;
}


/* Datepicker Styles */

.datepicker {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 0.2em 0.3em;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 11.8rem;
    /* Adjusted width */
}


/* Table Styles */

.list-table,
.sample-table {
    width: 100%;
    border-collapse: collapse;
}

.list-table th,
.sample-table th {
    background-color: #e9e9e9;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0.6rem;
    /* Adjusted padding */
    text-align: left;
}

.list-table tr,
.sample-table tr {
    background-color: white;
    height: 2.5rem;
    /* Adjusted row height */
}

.sample-table td {
    padding: 0.6rem;
    /* Adjusted padding */
    border-bottom: 1px solid #dcdcdc;
}


/* Main Content Styles */

.main-content {
    margin: 1.25rem 1.25rem 0 14.7rem;
    /* Adjusted margins */
    width: calc(100% - 15.9rem);
    /* Adjusted width */
    transition: all 0.5s ease-in-out;
}

.main-container {
    padding-top: 1.25rem;
    width: 80%;
    margin: auto;
}


/* Card Styles */

.custom-card,
.modal-content {
    border-radius: 0.4rem;
    background-color: #ffffff;
    overflow: hidden;
}

.custom-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1.25rem 0;
}

.card-header,
.card-body {
    padding: 0.9rem;
}

.card-header {
    background-color: #f5f5f5;
    font-weight: 500;
}


/* Modal Styles */

.modal {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-header,
.modal-footer {
    border-radius: 0.4rem;
}

.modal-header {
    background-color: rgb(32, 32, 32);
    color: white;
}

.modal-body {
    background-color: #FFFFFF;
}

.form-group {
    margin-bottom: 0.5em;
}

.form-control {
    font-size: 1em;
    /* Adjusted font size */
    font-weight: 600;
}