.main-content {
    width: calc(100% - 240px);
    margin-left: 240px;
    transition: width 0.5s ease-in-out, margin-left 0.5s ease-in-out;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 240px;
    background-color: #1b325f;
    display: block;
    align-items: center;
    padding: 5px;
    z-index: 1000;
    /* Adjust this value accordingly */
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    transition: width 0.5s ease-in-out;
}

#navbar::-webkit-scrollbar {
    display: none;
}

#toggle-nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px !important;
    color: white;
    transition: font-size 0.25s ease-out, color 0.25s;
}

#toggle-nav-btn:hover {
    cursor: pointer;
    font-size: 40px !important;
    color: rgb(187, 241, 255);
}

#navbar div,
#navbar a {
    font-size: 19px !important;
    color: white;
    text-decoration: none;
}

#navbar a {
    color: rgb(221, 221, 221);
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 15px;
}

#navbar i {
    margin-right: 0px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar a:hover {
    color: white;
}

.nav-title {
    padding: 15px 15px 15px 10px;
    font-size: 19px;
    display: flex;
    align-items: center;
}

.nav-text {
    display: block;
    margin-left: 10px;
    opacity: 1;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.nav-title .nav-text {
    white-space: normal;
}

.nav-link {
    background-color: transparent;
    border-radius: 10px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.082);
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 20;
    /* This should be higher than the navbar */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1b325f;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(221, 221, 221);
    padding: 15px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: transparent;
}

.dropbtn {
    background-color: #1b325f;
    color: white;
    padding: 16px;
    font-size: 19px;
    border: none;
    cursor: pointer;
}

.logout-container {
    padding: 20px;
    position: static;
    bottom: 5px;
    display: flex;
    align-items: center;
    width: 100%;
}

@media only screen and (min-height: 600px) {
    .logout-container {
        position: absolute;
    }
}

.logout {
    padding: 8px 5px 8px 8px !important;
    border-radius: 15px;
    position: absolute;
    right: 15px;
}

.logout i {
    margin: 0 !important;
}


/* Dropdown Styles */

.dropdown {
    position: relative;
    z-index: 1100;
    z-index: 1100;
    /* This should be higher than the navbar */
    /* This should be higher than the navbar */
    display: block;
}

.dropbtn {
    background-color: #1b325f;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
}

.fa-caret-down {
    color: inherit;
}

.dropdown-content {
    display: none;
    position: relative;
    z-index: 1000;
    /* or any large number */
    background-color: #13264a;
    min-width: 240px;
    z-index: 1;
    color: white;
}

.dropdown-content a {
    color: white;
    padding: 15px;
    text-decoration: none;
    display: flex;
}

.retracted .dropdown-content {
    top: 0;
    z-index: 1100;
    /* This should be higher than the navbar */
    left: 100%;
    position: absolute;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.link-content {
    display: flex;
}

.icon-wrapper {
    margin-right: 6px;
    display: inline-block;
}